module.exports =
{
    "canonical_url": "http://awesomeconference.change",
    "conference_name": "Our awesome conference",
    "conference_claim": "A great conference for developers and other mystical creatures",
    "conference_hashtag": "#hashtag",
    "location": {
        "gmaps_iframe_url": "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2905.255497835498!2d-2.947592084396059!3d43.26702288533392!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDPCsDE2JzAxLjMiTiAywrA1Nic0My41Ilc!5e0!3m2!1ses!2ses!4v1543099024128",
        "addresses": [
            {
                "name": "Main Venue",
                "line": "Example Street 140<br>Gotham 48480",
                "map_link": "https://www.google.com/maps?ll=43.266707,-2.945395&z=17&t=m&hl=es&gl=ES&mapclient=embed"
            }
        ]
    },
    "header_banner": {
        "cta_pre_text": "100 early-bird tickets left",
        "cta_text": "Tickets on sale!",
        "cta_url": "https://awesome_url_for_your_ticketing_platform.com"
    },
    "home": {
        "title": "Your awesome",
        "description": "A little description for the conference, what is the audience, why is interesting to the people and this kind of stuff",
        "agenda_cta_text": "view the agenda"
    },
    "speakers": [
        {
            "visible": true,
            "slug": "sara-smith",
            "image": "https://randomuser.me/api/portraits/women/40.jpg",
            "name": "Sara Smith",
            "company": "CTO Tyller Corp.",
            "bio": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
            "social": {
                "twitter": "https://twitter.com/asiermarques",
                "linkedin": "https://linkedin.com/in/asier",
                "github": "https://github.com/asiermarques"
            },
            "talk": {
                "title": "Talk title demo",
                "description": "Talk description demo"
            }
        }
    ],
    "agenda": {
        "visible": true,
        "time_slots": ["10:00-11:00", "11:00-12:00"],
        "tracks":[
            {
                "name": "Olympia Room",
                "content_in_slots": [
                    {
                        "type": "speaker",
                        "content": "sara-smith"
                    },
                    {
                        "type": "text",
                        "content": "Coffee pause"
                    }
                ]
            },
            {
                "name": "Niza",
                "content_in_slots": [
                    {
                        "type": "speaker",
                        "content": "sara-smith"
                    },
                    {
                        "type": "text",
                        "content": "Coffee pause"
                    }
                ]
            }
        ]
    },
    "organizers": [
        {
            "image": "https://randomuser.me/api/portraits/women/40.jpg",
            "name": "Sara Smith",
            "link": "https://asiermarques.com"
        },
        {
            "image": "https://randomuser.me/api/portraits/women/40.jpg",
            "name": "Sara Smith",
            "link": "https://asiermarques.com"
        },
        {
            "image": "https://randomuser.me/api/portraits/women/40.jpg",
            "name": "Sara Smith",
            "link": "https://asiermarques.com"
        }
    ],
    "sponsor_blocks": [
        {
            "name": "Uranium",
            "height_em": "15",
            "sponsors": [
                {
                    "name": "Tyrell Corp.",
                    "link": "https://fail.fail",
                    "image": "https://i.pinimg.com/originals/29/5f/46/295f46ebc17f5ad4a8f49dcc343ea5cb.png"
                },
                {
                    "name": "Black Mesa",
                    "link": "https://fail.fail",
                    "image": "https://www.logolynx.com/images/logolynx/b8/b8222d298046075f9f7a8c25d8f6ab70.png"
                }
            ]
        },
        {
            "name": "Platinium",
            "height_em": "10",
            "sponsors": [
                {
                    "name": "IN Gen",
                    "link": "https://fail.fail",
                    "image": "https://vignette.wikia.nocookie.net/jurassicpark/images/b/b0/Ingenicon3.png/revision/latest?cb=20190802232451"
                },
                {
                    "name": "Umbrella Corp",
                    "link": "https://fail.fail",
                    "image": "https://www.logolynx.com/images/logolynx/90/909b21a35004655d48b75041f04d1bc0.png"
                },
                {
                    "name": "Waine Enterprises",
                    "link": "https://fail.fail",
                    "image": "https://t1.rbxcdn.com/8609d8c6322a6bc6d8652b524570c0ec"
                }
            ]
        }
    ],
    "footer_links": [
        {
            "link": "/code-of-conduct",
            "title": "Code of conduct"
        },
        {
            "link": "/#agenda",
            "title": "Agenda"
        }

    ]
}