module.exports =
{
    "conference_name": "Our awesome conference",
    "conference_claim": "A great conference for developers and other mystical creatures",
    "header_banner": {
        "cta_pre_text": "100 early-bird tickets left",
        "cta_text": "Tickets on sale!"
    }
}