$enable-rounded: false;

section, Footer{
  margin: 60px 0;
}

#speakers .card{
    margin-bottom: 30px
}

#page{
    h1{
        margin-bottom: 45px;
        text-align: center;
    }
}

#sponsors {
    text-align: center;
    h3{
        margin-top: 2em;
    }
    .sponsor{
        display: inline-block;
        margin: 2em 1.5em;
    }
}

@import "../../node_modules/bootstrap/scss/bootstrap";

